.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  //weird selector name
  font-family: "Poppins", sans-serif;

  & .collect-dialog-header {
    margin: 20px;
    &.delete {
      margin: 0;
    }
    & h3 {
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 125%;
      color: #819892;
      margin: 0;
      padding: 0;
    }
    & img {
      width: 0.85rem;
      position: absolute;
      right: 4%;
      top: 1.3rem;
      cursor: pointer;
    }
  }
  & section {
    & p {
      font-weight: 500;
      font-size: 1rem;
      color: #2b3f3a;
    }
    & h4 {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 125%;
      color: #2b3f3a;
      padding: 0;
    }
    & .btn-fav,
    .btn-create {
      display: flex;
      align-items: center;
      flex-flow: row;
      gap: 1rem;
      cursor: pointer;
      transition: all 0.4s ease;
      border-radius: 10px;
    }
    & .btn-fav:hover,
    .btn-create:hover,
    .button-simple:hover {
      background-color: #f0f0f0;
    }
    & .btn-create .button {
      background: #f0f0f0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      width: 32px;
      height: 32px;
    }
  }
  & .collect-dialog-collections {
    & .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & .remove-btn {
        cursor: pointer;
        font-weight: 500;
        font-size: 0.875rem;
      }
    }
  }
  & .collection-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 13px;
    cursor: pointer;
    transition: all 0.4s ease;
    font-weight: 500;
    & .collection-name {
      margin-right: auto;
    }
  }
  & .collection-save-buttons {
    display: flex;
  }
}

.collect-name-collection {
  & .collection-name {
    border: 1px solid #b3c4bf;
    border-radius: 7px;
    font-size: 1rem;
    background: #f7f7f7;
    color: #2b3f3a;
    height: 3rem;
    line-height: 3rem;
    padding: 0 13px;
  }
  & button {
    width: 50%;
  }
  & .button-simple {
    background: white;
    border-radius: 5px;
    font-size: 1rem;
    height: 3.1rem;
    border: none;
    margin: 1rem;
    color: #2b3f3a;

    cursor: pointer;
    & a {
      color: #2b3f3a;
    }
  }
}

.collection-saved-notification {
  transform: translateY(15vh);
  & .MuiPaper-root {
    background: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    color: #000;
    height: 73px;
    & .MuiSnackbarContent-message {
      display: flex;
      align-items: center;
      & img {
        height: 32px;
        padding-right: 13px;
      }
    }
  }
}

.collection {
  & .collection-details-title {
    position: absolute;
    top: 70px;
    left: 4%;
    padding: 3px;
    // padding: 0;
    color: white;
    background-color: #0000004c;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 36px;
  }
  & .collection-details-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 4% 0;
    color: #819892;
    & .library-search-icon {
      margin-left: auto;
      padding-top: 5px;
    }
  }
  & .collection-shares {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    position: relative;
    & .collection-avatars {
      position: relative;
      left: 4%;
      min-width: 60px;
      & .collection-user {
        position: absolute;
        display: flex;
        align-items: flex-end;
        & img {
          width: 26px;
          height: 26px;
          border-radius: 20px;
        }
      }
    }
    & .collection-extra-shares {
      color: #2b3f3a;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 6px;
      & .extra-shares-text {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
      }
      & .extra-shares {
        font-size: 0.8rem;

        position: relative;
        // top: -6px;
        border-radius: 20px;
        width: 26px;
        height: 26px;
        background: #ffffff;
        box-shadow: -1.6px 0 4.9px rgba(176, 176, 176, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.collections-list::-webkit-scrollbar,
.tools-list::-webkit-scrollbar {
  display: none;
}

.share-fix {
  padding: 0;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  & .collection-share-title {
    text-align: left !important;
    padding: 0;
    font-weight: 600;
    font-size: 1.5rem;
  }
  & hr {
    margin: 22px 0 0 0;
  }
  & .collection-share-options,
  .collection-edit {
    display: flex;
    flex-flow: column nowrap;
    font-family: "Poppins", sans-serif;
    & .MuiListItemText-primary {
      font-family: "Poppins", sans-serif;
      font-size: 0.875rem;
      font-weight: 500;
      color: #000000;
      cursor: default;
    }
    & .MuiAvatar-root {
      border-radius: 5px;
      background: #f0f0f0;
    }
    & .edit-rename {
      color: #2b3f3a;
      font-size: 0.875rem;
    }
    & .share-radio-button {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:hover {
        cursor: pointer;
        background-color: #f0f0f0;
        border-radius: 4px;
      }
      & .radio-button {
        pointer-events: none;
      }
      & img {
        pointer-events: none;
      }
    }
    & .radio-button-label {
      pointer-events: none;
      & h3 {
        font-weight: 500;
        font-size: 0.875rem;
        padding: 0;
        margin: 0;
        pointer-events: none;
      }
    }
    & .share-input {
      border: 1px solid #b3c4bf;
      border-radius: 7px;
      font-size: 1rem;
      background: #f7f7f7;
      color: #2b3f3a;
      height: 3rem;
      line-height: 3rem;
      padding: 0 13px;
      margin: 20px 0;
    }
    & p {
      color: #819892;
      font-weight: 400;
      font-size: 0.75rem;
      padding: 0;
      margin: 0;
      pointer-events: none;
    }
  }
  & .share-users {
    max-height: 270px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
  }
  & .share-user-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    & .user-photo {
      width: 45px;
      height: 45px;
      background: #b3c4bf;
      border-radius: 35px;
      & img {
        width: 45px;
        height: 45px;
        border-radius: 35px;
      }
    }
    & .user-details {
      margin-left: 0.875rem;
      max-width: 15ch;
      overflow-x: hidden;
      white-space: nowrap;
      & h3 {
        margin: 0;
      }
    }
    & .share-role {
      margin-left: auto;
    }
  }
}

.MuiPopover-paper {
  position: relative;
  max-height: 11rem;
  border-radius: 10px;
  max-width: 15ch;
  left: 0;
}
.share-bottom-menu {
  width: 100%;
  display: flex;
  box-shadow: 0 -2px 4px rgb(214 214 214 / 25%);
  height: 5rem;

  .details-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  * {
    box-sizing: border-box;
    font-size: 0.94rem;
  }

  user agent stylesheet footer {
    display: block;
  }
  :root {
    --main-color: #06c15b;
  }
  :root {
    --main-color: #06c15b;
  }

  & button {
    width: 50%;
  }
  & .button-simple {
    background: white;
    border-radius: 5px;
    font-size: 1rem;
    height: 3.1rem;
    border: none;
    margin: 1rem;
    color: black;
    cursor: pointer;
    &:hover {
      background-color: #f0f0f0;
    }
  }
}
.modal-wrapper {
  padding: 0 4%;
}

.share-copy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  & img {
    display: block !important;
  }
}
