.search-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  background-color: #f8f8f8;
  width: 100%;
  & * {
    width: initial;
    height: initial;
  }
  * .search-tab {
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    text-transform: none;

    &.Mui-selected {
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 5px;
    }
  }
  & .search-body {
    padding: 0 4%;
  }
  & .tab-panels {
    background-color: white;
    border-radius: 20px;
    overflow-y: scroll;
    height: 70vh;
    & h2 {
      font-size: 1.25rem;
      margin: 0;
      padding: 0;
      font-weight: 500;
    }
  }
  footer {
    & .button-simple {
      color: #2b3f3a;
      &:hover {
        background-color: #f0f0f0;
      }
    }
    & button {
      width: 50%;
    }
  }
}
.search-header {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  padding: 1rem 0;
}

.search-price {
  margin-top: 20px;
  background-color: white;
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  box-shadow: 0px 4px 4px rgba(231, 231, 231, 0.25);
  border-radius: 15px;
  padding: 0 24px;
  & select {
    font-family: Poppins, sans-serif;
    border: none;
    outline: none;
    background: white;
  }
}
.search-toolbar {
  padding: 0.4rem 4%;
  & .sort-filter-toolbar {
    padding-top: 26px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    & .filter-button {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f3f3f3;
      border-radius: 30px;
      width: 2rem;
      height: 2rem;
    }
  }
}
.search-toolbar-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  & h2 {
    font-size: 1.125rem;
    font-weight: 600;
    font-family: Roboto, sans-serif;
  }
  & p {
    font-weight: 400;
    font-size: 0.875rem;
    cursor: pointer;
    font-family: Roboto, sans-serif;
  }
}

.search-terms {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  & h3 {
    text-align: center;
    margin: 0;
  }
}

.search-toolbar-pills {
  display: flex;
  flex-flow: row wrap;
  gap: 7px;

  & .search-term-pill {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-shadow: 0 4px 5px rgba(222, 222, 222, 0.25);
    border-radius: 30px;
    gap: 7px;
    padding: 8px 14px;
    display: flex;
    flex-flow: row nowrap;

    & img {
      width: 9px;
    }
  }
}
